.container {
  border-radius: 20px;
  border: 0.77px solid rgba(30, 39, 47, 0.17);
  padding: 10px 14px;
  gap: 14px;
  align-items: center;
  width: auto;
  background: #ffffff;
}

.text {
  font-size: 16px;
  color: #171d2c;
  font-weight: 400;
}

.valueContainer {
  border-radius: 20px;
  background: rgba(231, 233, 234, 0.33);
  padding: 17px;
}

.valueText {
  color: rgba(23, 29, 44, 0.27);
  font-size: 16px;
  font-weight: 400;
  max-width: 144px;
  border: none;
  background: transparent;
}

.valueText:focus-visible {
  outline: none;
}

input[type="number"]::-webkit-inner-spin-button,
input[type="number"]::-webkit-outer-spin-button {
  -webkit-appearance: none;
  margin: 0;
}
/* Hide the up and down arrows in Firefox */
input[type="number"] {
  -moz-appearance: textfield;
}
